@media(max-width: 1700px){
    .main__list-items{
        display: flex;
        
        
        
    }

    .main__ps-img{
        display: block;
    }

    .main__content-collect{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .main__content-cell{
        display: flex;
        flex-wrap: wrap;
    
    }

    .main__ps-part{
        margin-top: 80px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .main__ps-img{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 500px;
    }

    .header__list-tech{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__ps-part{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 400px;
        
    }

    .main__ps-left{
       
        
    }
    
    .main__ps-img{
        position: absolute  ;
        margin-top: 350px;
        z-index: -1000;
    }
    /*

   /* .main__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__content-buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header__content-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /*.header__poster-link2 /*header__poster-list*//*
    {
        
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 10px;
        gap: 5px;
    }

    .header__poster-span{
        margin-left: 0;
        margin-right: 22px;
    }*/
}

@media(max-width:1600px){
    .main__ps-img{
        display: none;
        
    }

    .main__topseller{

    }
}
@media(max-width:1440px){
    .main__ps-img{
        display: none;
        
    }
}

@media(max-width:1240px){
    /*index3*/

    .nav-pills{
        display: flex;
        justify-content: center;
        max-width: 300px;
        margin-left: 300px;
        margin-top: 150px;
        transform: rotate(90deg)
    }
    .protfolio__item{
    
        transform: rotate(270deg)
    }

    .main__imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    .footer__navbarbot-src{
        margin: 0 auto  ;
    }

    .footer__icons{
        margin-top: 50px    ;
        display: flex;
        margin: 0 auto;
    }

    .main__ps-part{
      
        
    } 

    .footer__content-navbar{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }


    .footer__content{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .main__ps-part{
        background: url(none);
        width: 0;
        margin-top: 120px;
        margin-bottom: 0px;

    }
    
    .main__ps-left{
        margin: 0 auto;
        position: relative;

    }

    .main__ps-text{
        text-align: center;
        width: 100%;
    }

    .main__ps-link{
        margin: 0 auto;
    }

    .main__ps-img{
        display: none;
        
    }

    .header__navbarbm-bg{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width: 900px){
    
  
    .main__ps-photo{
       

    }

    .footer__icons

    .main__ps-img{
        margin-right: 250px;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width:800px){
    .main__content-cell{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .main__content-link{
        margin: 0 auto  ;
    }

    .footer__texts{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .form-control{
        max-width: 400px;
        padding-right: 60px;
    }
}
@media(max-width: 780px){
    .main__content-link{
        display: none;
    }

}


@media(max-width: 700px){
    .main__content-ap{
        display: flex;
        justify-content: center;
    }
    .img2{
        min-width: 300px;
        width: 100%;
    }

    .img1{
        max-width: 400px;
        width: 100%;
    }


}

@media(max-width: 600px){
    .main__content-images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__content-photo{
        display: inline-block;
        margin: 0 auto;
    }

    .btn-outline-success{
        padding: 5px 0;
    }
    
}


@media(max-width:1040px){
    .main__vr-photo{
        display: none;
    }

    .main__vr-left{
        position: absolute !important;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        margin-left: 0px;
    }
}




